body{
    /* border: green solid 5px;  */
    min-height: 100vh;
    max-height: max-content;
    background: url('https://static.vecteezy.com/system/resources/previews/006/849/610/non_2x/abstract-background-with-soft-gradient-color-and-dynamic-shadow-on-background-background-for-wallpaper-eps-10-free-vector.jpg') repeat-y right;
    /* position: relative; */
}

.container{
    width: 100%;
    height: max-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid red 4px; */
}

#calorieForm{
    /* border: blue solid 4px; */
    padding: 10px;
    font-size: 1rem;
}

#calorieForm label{
    margin-top: 1rem;
    align-self: flex-start;
}

#calorieForm input, option, select{
    width: 100%;
    align-self: flex-start;
    font-size: 0.9rem;
    margin: 0.5rem 0rem 1rem;
    border: none;
    border-bottom: solid darkgray 2px;
    outline: none;
    background-color: transparent;
}

#calorieForm button{
    margin-top: 1rem;
    padding: 5px;
    font-size: 0.9rem;
    border: solid black 2.5px;
    outline: none;
    background-color: transparent;
    border-radius: 10px 0px 10px 0px;  
}

@media screen and (max-width: 768px){
    
}