*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.background {
    background: url('https://static.vecteezy.com/system/resources/previews/006/849/610/non_2x/abstract-background-with-soft-gradient-color-and-dynamic-shadow-on-background-background-for-wallpaper-eps-10-free-vector.jpg') no-repeat right;
    background-size: cover;
    background-position-x: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; /* Shift the content to the left */
    align-items: center;
    color: #333;
    /* border: solid red 3px; */
    flex: 1;
    /* gap: 1; */
}

.content {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    height: 60%;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: justify;
    width: 40%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    align-content: center;
    letter-spacing: 2px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.content:hover{
    transform: translateY(-0.7rem);
    transition: 0.3s ease;
    background: rgba(167, 244, 254, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px 0px 15px 0px;
    box-shadow: 5px 5px 2px rgba(32, 146, 159, 0.684);

}

.content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #110f0f; /* Lighter text color for better contrast */
}

.content p {
    margin: 15px 0;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #141313; /* Lighter text color for better readability */
}

.content button {
    background-color: #555; /* Grey background for the button */
    color: #fff; /* White text for the button */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #e8e8e8; /* Slightly lighter grey on hover */
    color: black;

}

.sections{
    /* border: solid 3px green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 60% ;
}

.food, .diet{
    border: 0;
    height: 45%;
    width: 50%;
    max-width: 75%;
    background: rgba(225, 169, 255, 0.262);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: transform 0.2s ease;
    color: rgb(102, 1, 122);
    cursor: pointer;
    box-shadow: rgb(154,8,154) 2px 2px 5px ;

}

.food p , .diet p{
    /* color: aliceblue; */
    font-weight: 600;
    padding: 5%;
    text-align: left;
    font-size: 2rem;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.food:hover, .diet:hover{
    transform: translateY(-0.7rem);
    transition: transform 0.3s ease;
    background: rgba(167, 244, 254, 0.6);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 15px 0px 15px 0px;
    color: darkcyan;
    /* border: #333 3px dashed; */
    box-shadow: darkcyan 5px 5px 1px ;
}

@media only screen and (max-width: 768px) {
    .background {
        flex-direction: column;
        height: 200vh;
    }

    .content{
        width: 95%;
        height: 35%;
    }

    .sections{
        width: 95%;
        height: 50%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .food, .diet{
        height: 45%;
        width: 95%;
    }
}
